.button {
  font-family: var(--font-nunito);
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  background-color: var(--button-hover);
}
